<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">

    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="logo"> <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-webinar-optimizing-for-success-google-business-webinar-13.png" alt="" style="height: 50px;width: 50px;"> </div>
        <div class="text-center mt-4 name"> Gmail ile giriş yap </div>
    
        <form class="p-3 mt-3" method="post">
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> 
                <input type="email" name="email" id="userName" placeholder="E-mail">
             </div>
            <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="password" id="pwd" placeholder="Parola"> </div> 
            <button class="btn mt-3">Giriş yap</button>
        </form>
    
        <div class="text-center fs-6"> <a href="#">Parolanı mı unuttun ? </a> or <a href="/register">Kayıt ol</a> </div>
    </div>
</body>
</html>


